{% extends 'base/base.html' %}
{% block header %}
{% include 'base/menuAdministrador.html' %}
{% endblock %}
{% block content %}

<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Repartidores
    </div>
    <div class="card-body">
      <table class = 'table table-hover table-striped'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if repartidores %}
          {% for repartidor in repartidores %}
          <tr>
            <td>{{ repartidor.id_repartidor }}</td>
            <td>{{ repartidor.nombre }}</td>
            <td>{{ repartidor.apellido }}</td>
            <td>
              <a href="{% url 'editarRepartidor' repartidor.id_repartidor %}">
                <i class="far fa-edit"></i>  
              </a>
            </td>
            <td>
              <a href="{% url 'eliminarRepartidor' repartidor.id_repartidor %}">
                <i class="far fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
