{% extends 'base/base.html' %}
{% block header %}
{% include 'base/menuAdministrador.html' %}
{% endblock %}
{% block content %}

<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Clientes
    </div>
    <div class="card-body">
      <table class = 'table table-hover table-striped'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if clientes %}
          {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id_cliente }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.direccion_correo }}</td>
            <td>
              <a href="{% url 'editarCliente' cliente.id_cliente %}">
                <i class="far fa-edit"></i>  
              </a>
            </td>
            <td>
              <a href="{% url 'eliminarCliente' cliente.id_cliente %}">
                <i class="far fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
