{% extends 'base/base.html' %}
{% block header %}
{% include 'cliente/menu.html' %}
{% endblock %}
{% block content %}
<div class="rom">

</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      Clientes
    </div>
    <div class="card-body">
      <table class = 'table table-hover table-striped'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody>
          {% if clientes %}
          {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id_cliente }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.direccion_correo }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
