{% extends 'base/base.html' %}
{% block header %}
{% if user.is_staff %}
{% include 'base/menuAdministrador.html' %}
{% elif user.groups.all.0.name == 'Cliente' %}
{% include 'base/menuCliente.html' %}
{% else%}
{% include 'base/menuNoLog.html' %}
{% endif %}
{% endblock %}
{% block content %}

<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Productos
    </div>
    <div class="card-body">
      <table class = 'table table-hover table-striped'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            {% if user.is_staff %}
            <th>Cantidad Vendida</th>
            <th>Id administrador</th>
            {% endif %}
            <th>Id categoria</th>
            {% if user.is_staff %}
              <th></th>
              <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if productos %}
          {% for producto in productos %}
          <tr>
            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            {% if user.is_staff %}
            <td>{{ producto.cantidad_venta }}</td>
            <td>{{ producto.id_administrador_id }}</td>
            {% endif %}
            <td>{{ producto.id_categoria_id }}</td>
            {% if user.is_staff %}
            <td>
              <a href="{% url 'editarProducto' producto.id_producto %}">
                <i class="far fa-edit"></i>
              </a>
            </td>
            <td>
              <a href="{% url 'eliminarProducto' producto.id_producto %}">
                <i class="far fa-trash-alt"></i>
              </a>
            </td>



            {% endif %}
            <td>
              <a href="{% url 'verificarIds' producto.id_producto %}">
                <i class="fas fa-cart-arrow-down"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
