{% extends 'base/base.html' %}
{% load static %}
{% block header %}
{% if user.is_staff %}
{% include 'base/menuAdministrador.html' %}
{% elif user.groups.all.0.name == 'Cliente' %}
{% include 'base/menuCliente.html' %}
{% else%}
{% include 'base/menuNoLog.html' %}
{% endif %}
{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h3>Carro de compras</h3>
        </div>  
        <div class="card-body">
         <table class = 'table table-hover table-striped'>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th style='text-align:center'>Cantidad</th>
                    <th style='text-align:center'>Precio total</th>
                </tr>
            </thead>
            <tbody>
            {% csrf_token %}
            {% if carro%}
            {% for producto in carro %}
                {%for p in desc_productos%}
                    {% if forloop.counter == forloop.parentloop.counter %}
                    <tr>
                        <td>{{p.nombre}}</td>
                        <td style='text-align:center'> <a type="button" data-toggle="tooltip" data-placement="top" title="Eliminar una unidad"><i class="fas fa-minus" style='color:#ff6600' id="minus{{producto.id_producto_producto_id}}" ></i></a> <span style="padding:10px" id="text{{producto.id_producto_producto_id}}">
                        {{producto.cantidad}}</span>
                        <a type="button" data-toggle="tooltip" data-placement="right" title="Añadir una unidad"><i class="fas fa-plus" style='color:#ff6600' id="plus{{producto.id_producto_producto_id}}"></i></a></td>
                        <td style='text-align:center' id="precio{{producto.id_producto_producto_id}}">{% widthratio p.precio 1 producto.cantidad%}</td>   
                    </tr>   
                    {%endif%}
                {% endfor %}
            {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
    </div>
</div> 

<div class="text-center" style="margin:20px">
    <a role="button" class="btn btn-success btn-lg" href="{%  url 'consultarProducto' %}">Seguir comprando</a>

<div class="text-center" style="margin:20px">
<button type="button" class="btn btn-warning btn-lg">Pagar</button>
</div>

{% comment %} <script type="text/javascript" src= "{% static 'js/material.js' %}"> </script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/6.2.0/d3.min.js"></script>
{% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}


    <script type="text/javascript">
    //console.log{{carro}}
    let value = undefined;
    
    data = {{id_productos}}
    for (p in data){
        boton = "#plus" + data[p]
        boton2 = "#minus" + data[p]
        //console.log(p)
        $(document).on('click',boton,{param: data[p]},function (e){
            //e.preventDefault();
            console.log('Hicimos click')
            $.ajax({
                type:'POST',
                url:'{%  url 'sumar' %}',
                data:{
                    id_producto: e.data.param,//5
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
            success: function(){
                alert('Por fin!')
            }
    })})
        parametro = data[p]
        $(document).on('click',boton2,{param: parametro},function(e){
            e.preventDefault();
            //console.log(e.data.param)
            $.ajax({
                type:'POST',
                url:'{%  url 'restar' %}',
                data:{
                    id_producto: e.data.param,//5
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
            success: function(res){
                //alert(res[2])
                params = res.split(",")
                console.log(params)
                name = "#text" + params[0]
                name1 = "#precio" + params[0]
                $(name)[0].innerText = params[1]-1
                $(name1)[0].innerText = params[2]*(params[1]-1)
            }
       
    })
    //var page = $(this).attr('href');
    // $(document).load(page)
    //console.log(data[p])
    })}
    
    </script>
{% endblock %}
